# Gradle caches.
.gradle/

# Build output.
/build/
/**/build/

# Local configuration file (sdk path, etc).
local.properties

# Ignore everything in the .idea/ directory by default.
.idea/
# Share required plugins.
!.idea/externalDependencies.xml
# Most code style settings are shared via .editorconfig, but some are unsupported
# and are still shared via .idea/ (mostly the Android-specific ones).
!.idea/codeStyles
# Share file templates.
!.idea/fileTemplates

# Studio profiler/layout inspector output.
captures/

# Mac.
.DS_Store

# Generated during UI test runs.
android_shards.json
flank-links.log
results/

# Gradle profiler defaults.
/gradle-user-home/
/profile-out*/
